* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;

    overflow-x: hidden;
    overflow-y: auto;

    color: rgb(30, 30, 30);

    font-family: 'Lato', sans-serif;
}

.content {
    width: 80%;

    margin-left: 10%;
    margin-right: 10%;

    margin-top: 25px;
    margin-bottom: 25px;
}

.contentTitle {
    font-size: 40px;
}

.contentInfo {
    margin-top: 10px;

    font-size: 16px;
}

.section {
    width: 100%;
    height: 25vh;

    display: flex;
}

.infoBox {
    width: 80%;
    height: 20vh;

    margin-left: 10%;
    margin-right: 10%;

    margin-top: 10px;
    margin-bottom: 100px;
}

.infoBoxTitle {
    font-size: 34px;
}

.info {
    display: flex;

    flex-wrap: wrap;

    width: 80%;

    margin-left: 5%;
    margin-right: 10%;
}

.infoPiece {
    width: 50%;

    font-size: 18px;

    margin-top: 20px;
}

footer {
    width: 100%;
    height: 10vh;

    background-color: rgba(40, 40, 40, 0.434);

    color: white;

    display: flex;
    align-items: center;

    padding: 15px;

    font-size: 20px;
}